# React Native
node_modules/
build/
android/app/build/
*.log
*.tmp
*.swp
.expo/
.expo-shared/
.env
.idea/
.vscode/
.DS_Store
*.iml
*.keystore
coverage/
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# OS
Thumbs.db
Desktop.ini

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
*.DS_Store

# Windows
*.exe
*.dll
*.pdb
*.obj
*.lib
*.sln
*.suo
*.psess
*.vsp
*.vspscc
*.vssscc
*.user
*.cache
*.db
*.bak
*.pid
*.log
*.gz
*.zip
*.tar
*.tgz
*.rar
*.7z
*.swp
*.swo
*.tmp
*.temp
*.out
*.class
*.apk
*.ap_